certifi==2020.12.5
chardet==4.0.0
cx-Freeze==6.5.3
idna==2.10
importlib-metadata==3.4.0
progressbar==2.5
python-magic-bin==0.4.14
requests==2.25.1
simple-image-download==0.4
urllib3==1.26.3
zipp==3.4.0
